.BottomDrawerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.BottomDrawerButtons .MuiIconButton-root {
  background-color: white;
}

.settingsIconColor {
  color: #808080;
}

.newsFeedIconColor {
  color: #1da1f2;
}

.matchIconColor {
  color: #f4c2c2;
}

.DatePlannerIconColor {
  color: #1da1f2;
}

#bottomDrawer {
  display: none;
}

@media only screen and (max-width: 895px) {
  #bottomDrawer {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: 1px solid #f9f9f9;
    background-color: white;
  }
}
