.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
  border-bottom: 1px solid #f9f9f9;
  margin-bottom: 4px;
  background-color: #ffebe5;
  border-radius: 10px;
  margin-top: 5px;
}

.chatDetails {
  flex: 1;
}

.chatDetails > p {
  color: gray;
}

.chat_image {
  margin-right: 20px;
}

.chatTimestamp {
  color: lightgrey;
}
