.chatScreenText {
  margin-left: 10px;
  background-color: #f0f8ff;
  padding: 10px;
  border-radius: 20px;
}

.chatScreenTimeStamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreenMessage {
  display: flex;
  align-items: center;
  padding: 5px;
}

.chatScreenTextUser {
  margin-left: auto;
  background-color: #ff7f50;
  padding: 15px;
  border-radius: 20px;
}

.ChatScreenInput {
  display: flex;
  padding: 5px;
  position: relative;
  bottom: 0;
}

.ChatScreenInputField {
  flex: 1;
  padding: 10px;
  border: none;
}

.ChatScreenButton {
  border: none !important;
  margin-right: 20px !important;
  background-color: #fbab7e !important;
  border-radius: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: black !important;
}

.emoji {
  margin-top: 12px;
  margin-left: 5px;
}

.MessageDiv {
  border-top: 1px solid lightgray;
}

.ChatMessageDiv {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 84vh;
  max-height: 86vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 895px) {
  .ChatMessageDiv {
    max-height: 84.5vh;
  }
}

@media only screen and (max-height: 875px) {
  .ChatMessageDiv {
    max-height: 83.5vh;
  }
}

@media only screen and (max-height: 668px) {
  .ChatMessageDiv {
    max-height: 78.5vh;
  }
}

@media only screen and (max-height: 741px) {
  .ChatMessageDiv {
    max-height: 81vh;
  }
}

.UserVideoDiv {
  width: 100%;
  height: fit-content;
}

.PartnerVideoDiv {
  width: 100%;
  height: fit-content;
}

.UserVideo {
  height: fit-content;
  width: 600px;
  border: 5px solid #fbab7e;
  border-radius: 15px;
}

.PartnerVideo {
  height: fit-content;
  width: 600px;
  border: 5px solid #fbab7e;
  border-radius: 15px;
}
