#dateMainDiv {
  display: inline-flex;
  height: 100vh;
  width: 100%;
}

#sideDrawer {
  height: 100vh;
  border-right: 1px solid black;
}

#dateDiv {
  height: 100vh;
  padding: 5px;
  width: 100%;
  background-color: #fff;
}

@media only screen and (max-width: 895px) {
  #sideDrawer {
    display: none;
  }

  #dateDiv {
    height: fit-content;
    width: 100%;
  }
}

.sideDivHeader {
  display: flex;
  align-items: center;
}

.sideDivHeaderIcon {
  width: 100%;
}
