#dateMainDiv {
  display: inline-flex;
  height: 100vh;
  width: 100%;
}

#sideDrawer {
  height: 100vh;
  width: 25%;
  border-right: 1px solid black;
}

#dateDiv {
  height: 100vh;
  width: 75%;
  padding: 5px;
  background-color: #d3d3d3;
}

#bottomDrawer {
  display: none;
}

#headerDrawer {
  width: 100%;
  height: 80px;
  display: inline-flex;
  justify-content: center !important;
  background-color: #fbab7e;
  cursor: pointer;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

#userInf {
  display: inline-flex;
  height: fit-content;
  min-width: fit-content;
  margin: auto;
  border-radius: 40px;
  cursor: pointer;
  padding: 5px;
}

#headerDrawer:hover {
  background: #e95f39ce;
}

#userPic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: auto;
}

#userName {
  padding-left: 10px;
  font-size: 25px;
  margin: auto;
  color: white;
}

.sideBar {
  padding: 10px;
}

@media only screen and (max-width: 895px) {
  #bottomDrawer {
    display: flex;
    bottom: 0;
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 50px;
  }

  #sideDrawer {
    display: none;
  }

  #dateDiv {
    height: 100vh;
    width: 100%;
    background-color: black;
  }
}
