.newsDiv {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.PostDiv {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.CaptionDiv {
  text-align: justify;
  margin-top: 10px;
  padding: 10px;
}

.PostImgDiv {
  height: 300px;
  margin-left: 0px !important;
  width: 100%;
}

.PostImg {
  margin: auto;
  height: 300px;
  border-radius: 50px;
}

.DateH4 {
  text-align: right;
  bottom: 10px;
  color: #949494;
  margin-right: 0px !important;
  margin-top: 5px !important;
  font-size: 15px !important;
}

.AvatarDiv {
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
}
