.swipeButtons {
  position: fixed;
  bottom: 10vh;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeLike {
  padding: 2vw !important;
  color: #76e2b3 !important;
}

.swipeUndo {
  padding: 2vw !important;
  color: #f5b748 !important;
}

.swipeDislike {
  padding: 2vw !important;
  color: #ec5e6f !important;
}

.swipeBolt {
  padding: 2vw !important;
  color: #e0b0ff !important;
}
