.Winkcard {
  position: relative;
  width: 600px;
  /* padding: 20px; */
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.087);
}

.Winkcard > h3 {
  position: absolute;
  bottom: 0;
  color: white;
  margin-left: 10px;
}

.ProfieCards {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  padding-top: 20px;
}

.swipe {
  position: absolute;
}

.TinderImage {
  max-width: 85vw;
  height: 50vh;
  width: 600px;
  z-index: -1;
  border-radius: 20px;
}

.WinkProfileIcon {
  position: absolute;
  bottom: 70px;
  float: right;
  margin-right: 10px !important;
  background-color: rgb(217, 57, 148) !important;
}
